* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.header {
  width: 100vw;
  height: 100px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #3ebfff;

  align-items: center;
}

.header p {
  color: white;
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-left: 65%;
}

.contact {
  background-color: white;
  border-radius: 30px;
  width: 120px;
  height: 50px;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  margin-top: 10px;
}

.contact:hover {
  background-color: #6fcfff;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 50px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  padding-top: 100px;
  position: absolute;
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}

.arrow {
  position: absolute;
  float: left;
  top: 60%;
  left: 50%;
}

.header-img {
  width: 100vw;
  margin: 0px;
}
.secondary {
  display: flex;
  width: 100vw;
}
.container-text {
  width: 50vw;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 150px;
  text-align: left;
}

.container-text p {
  color: #888591;
  line-height: 180%;
}

h3 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Fraunces", serif;
}
.learn {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  background-color: #faf2cb;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.learn:hover {
  text-decoration: underline #fc7968 5px;
}
.imagen {
  width: 50vw;
  height: 50%;
}

.imagen-container {
  display: flex;
}

.grafic {
  position: absolute;
  width: 400px;
  margin: 350px 100px 100px 12vw;
  text-align: center;
  line-height: 200%;
}

.grafic h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.orange {
  position: absolute;
  width: 400px;
  margin: 350px 100px 100px 65vw;
  text-align: center;
  line-height: 200%;
}

.orange h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.contentainer_testimonials {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondary_testimonials {
  width: 80vw;
  height: 600px;
  align-items: center;
  display: flex;
}

.contentainer_testimonials h3 {
  width: 100vw;
  padding-top: 100px;
  text-align: center;
  color: #a6a7a9;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 5px;
}

.testimonial {
  text-align: center;
}

.testimonial img {
  border-radius: 100%;
}

.comment {
  line-height: 150%;
  width: 25vw;
  padding: 20px 20px 20px 20px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  font-family: "Fraunces", serif;
}

.titulo {
  font-size: 16px;
  color: #a6a7a9;
}

.container_img {
  display: flex;
}

.img {
  width: 25vw;
  height: 50%;
}

.footer {
  width: 100vw;
  height: 400px;
  background-color: #90d4c5;
  text-align: center;
  padding: 70px 0px 50px 0px;
  color: #498d7e;
  font-weight: 700;
}
.footer p {
  padding: 50px 20px 100px 20px;
}

.footer h3 {
  color: #498d7e;
  font-family: "Barlow", sans-serif;
}

.services {
  display: flex;
  justify-content: center;
}

.services p:hover {
  color: white;
}

.icons {
  padding: 0px 10px 0px 10px;
}

.sunny {
  font-family: "Fraunces", serif;
  font-size: 35px;
  font-weight: bold;
}

.attribution {
  background-color: #90d4c5;
  width: 100vw;
  text-align: center;
  padding-bottom: 20px;
}

.info {
  color: #498d7e;
}
